.keyboard {
  border: 1px solid $color-keyboard-text;
  box-shadow: 0 0 10px $color-keyboard-backlight;
  padding: 10px 0px 10px 7px;
  width: 100%;

  display: flow-root;

  &_hidden {
    display: none;
  }
}

.keyboard__key {
  color: $color-keyboard-text;
  text-shadow: $color-keyboard-backlight 1px 0 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid $color-keyboard-text;
  box-shadow: 0 0 10px $color-keyboard-backlight;
  background-color: $color-background;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-keyboard-hover;
  }

  &:active {
    background-color: $color-keyboard-special;
  }

  &_special {
    background-color: $color-keyboard-special;
  }

  &.ArrowUp, &.ArrowLeft, &.ArrowRight, &.ArrowDown {
    background-color: $color-keyboard-special;
  }

  &_active {
    background-color: $color-keyboard-active !important;
  }

  &_backspace {
    width: 85px;
  }

  &_tab {
    width: 40px;
  }

  &_caps {
    width: 70px;
  }

  &_enter {
    width: 100px;
  }

  &_shift {
    width: 85px;
  }

  &_ctrl, &_win, &_alt {
    width: 40px;
  }

  &_space {
    width: 310px;
  }
}
